.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appContent{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.appContent h1{
  color: white;
}

